@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

section,
header {
  margin: 0 auto;
}

section {
  width: 1330px;
}

a {
  color: var(--white);
  text-decoration: none;
}

a:hover,
button:hover,
input:hover {
  cursor: pointer;
}

a {
  transition: color 0.2s ease;
}

a:hover {
  color: var(--red);
}

button {
  transition: background-color 0.2s ease;
}

input {
  transition: border 0.2s ease;
}

button:hover {
  background: var(--red);
}

input:hover {
  border-color: var(--red);
}

ul {
  list-style: none;
}

:root {
  --white: #ffffff;
  --red: #da6a66;
  --black: #332b5b;
  --light-pink: #fae9d6;
  --dark-green: #1e4844;
  --transparent: #ffffff00;
  --light-lilac: #c2d8cc;
  --lilac: #9b9ac7;
}

/* Header */

.header {
  width: 1440px;
  height: 115px;
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  position: relative;
  z-index: 10;
}

.header__title {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/header-bg1.png) no-repeat center;
  font-size: 14px;
  font-weight: 400;
  color: var(--white);
}

.header__info {
  height: 83px;
  background: url(../img/header-bg2.png) no-repeat center;
  padding-left: 55px;
  padding-right: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  width: 524px;
  height: 37px;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
}

.header__list {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  padding-inline-start: 0;
  gap: 32px;
}

.header__link-logo {
  padding: 7px;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.header__logo {
  width: 118px;
  height: 46px;
  margin: 0;
  transition: all 0.2s ease-in-out;
}

.header__link-logo:hover {
  background: var(--red);
}

.header__logo:hover {
  transform: scale(1.02);
}

.header__cart {
  position: relative;
  width: 32px;
  height: 22px;
  left: 9px;
  top: 0;
}

/* Elixirs */

.elixirs {
  padding-top: 208px;
  padding-left: 55px;
  padding-right: 55px;
  height: 545px;
  background: url(../img/two-pack.png) no-repeat center;
  background-size: cover;
  position: relative;
  top: -120px;
  left: 0;
  z-index: auto;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}

.elixirs__title {
  width: 429px;
  height: 94px;
  font-size: 42px;
  font-weight: 400;
  line-height: 47px;
  margin-bottom: 9px;
}

.elixirs__text {
  width: 319px;
  height: 75px;
  font-size: 19px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 25px;
}

.elixirs__btn {
  width: 221px;
  height: 46px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  background-color: var(--transparent);
  color: var(--white);
  border: 2px solid var(--white);
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  z-index: 9999;
}

/* Forbes */

.forbes {
  width: 1440px;
  padding: 0;
  position: relative;
  top: -340px;
  left: 0;
  z-index: auto;
}

.forbes__img-bg {
  width: 1440px;
  height: 200px;
  background: url(../img/bg3.png) no-repeat center bottom;
}

.forbes__figures {
  width: 1390px;
  height: 131px;
  padding-right: 50px;
  background: url(../img/Frame.png), var(--light-lilac);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 200px;
}

.forbes__img-popsugar {
  position: relative;
  left: 0;
  top: 5px;
}

.forbes__img-fast-company {
  position: relative;
  left: 0;
  top: -3px;
}

/* Day - Night */

.day-night {
  width: 1440px;
  height: 860px;
  position: relative;
  top: -340px;
  left: 0;
  display: flex;
}

.day-night__day,
.day-night__night {
  width: 629px;
  height: 755px;
  padding: 42px 27px 64px 64px;
  display: flex;
  flex-direction: column;
  color: var(--white);
  justify-content: space-between;
}

.day-night__day {
  background: url(../img/day.png) no-repeat center;
  background-size: cover;
}
.day-night__night {
  background: url(../img/night.png) no-repeat center;
  background-size: cover;
}

.day-night__title {
  font-size: 23px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 12px;
}

.day-night__text-day,
.day-night__text-night {
  font-size: 19px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 60px;
}

.day-night__text-day {
  width: 215px;
  height: 128px;
}

.day-night__text-night {
  width: 227px;
  height: 179px;
}

.day-night__img {
  align-self: flex-end;
  margin: 0;
  z-index: -1;
}

.day-night__block .day-night__btn-day:hover {
  background: var(--black);
}

/* Love It */

.love-it {
  width: 1312px;
  height: 363px;
  padding: 64px;
  position: relative;
  top: -340px;
  left: 0;
  background-color: var(--dark-green);
}

.love-it__logo {
  width: 182px;
  height: 43px;
  margin: 0 auto;
  font-size: 19px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 35px;
  color: var(--white);
  text-align: center;
}

.love-it__quote {
  padding-left: 130px;
  padding-right: 130px;
  color: var(--white);
}

.love-it__title {
  font-size: 42px;
  font-weight: 400;
  line-height: 46px;
  text-align: center;
  margin-bottom: 51px;
}

.love-it__text {
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-bottom: 56px;
}

.love-it__author {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

/* Less Stress */

.less-stress {
  width: 1440px;
  height: 986px;
  padding-top: 64px;
  position: relative;
  top: -340px;
  left: 0;
  background: var(--red);
}

.less-stress__block {
  width: 1440px;
  height: 720px;
  display: flex;
  align-items: center;
}

.less-stress__info {
  width: 592px;
  height: 323px;
  padding: 64px;
  color: var(--light-pink);
}

.less-stress__title {
  font-size: 42px;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 12px;
}

.less-stress__text {
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 12px;
}

.less-stress__text p:first-child,
.less-stress__text p:nth-child(2) {
  margin-bottom: 17px;
}

.less-stress__img {
  border: 1px solid black;
  border-bottom-left-radius: 223px;
  border-top-left-radius: 223px;
  width: 720px;
  height: 720px;
  margin: 0;
}

/* Approach */

.approach {
  width: 1440px;
  height: 780px;
  padding-top: 64px;
  padding-bottom: 64px;
  position: relative;
  top: -340px;
  left: 0;
  background: var(--lilac);
}

.approach__block {
  width: 1440px;
  height: 780px;
}

.approach__title {
  font-size: 42px;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 12px;
  color: var(--black);
  text-align: center;
}

.approach__info {
  width: 1310px;
  height: 720px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.approach__why {
  width: 535px;
  height: 584px;
  padding: 60px 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.approach__img {
  width: 263px;
  height: 370px;
  margin: 0;
  margin-bottom: 70px;
}

.approach__text {
  width: 518px;
  height: 154px;
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 12px;
  color: var(--black);
  text-align: center;
}

.approach__btns {
  width: 655px;
  height: 262px;
  padding-top: 64px;
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  align-self: flex-start;
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  color: var(--white);
  text-align: center;
}

.approach__btn {
  width: 526px;
  height: 65px;
  border: 1px solid var(--white);
  background: var(--transparent);
}

.approach__spring {
  width: 526px;
  height: 65px;
  margin: 0 auto;
}

/* Hemp */

.hemp {
  width: 1440px;
  height: 720px;
  position: relative;
  top: -340px;
  left: 0;
  display: flex;
  align-items: center;
  background-color: var(--black);
}

.hemp__img {
  width: 720px;
  height: 720px;
}

.hemp__info {
  width: 655px;
  height: 494px;
  padding-left: 65px;
  color: var(--light-pink);
}

.hemp__img {
  width: 720px;
  height: 720px;
  margin: 0;
}

.hemp__title {
  width: 501px;
  height: 47px;
  margin-bottom: 12px;
  font-size: 42px;
  font-weight: 700;
  line-height: 46px;
}

.hemp__text {
  width: 588px;
  height: 154px;
  margin-bottom: 21px;
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
}

.hemp__links {
  width: 590px;
  height: 166px;
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  margin-left: -31px;
  display: flex;
  gap: 75px;
  padding-left: 30px;
}

.hemp__link {
  font-size: 23px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 21px;
}

.hemp__btn {
  position: relative;
  top: -35px;
  left: 0;
}

/* Press */

.press {
  width: 1440px;
  height: 853px;
  position: relative;
  top: -340px;
  left: 0;
  display: flex;
  align-items: center;
  background-color: var(--light-pink);
}

.press__block {
  width: 1440px;
  height: 723px;
}

.press__title {
  width: 158px;
  height: 26px;
  margin: 0 auto 19px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
}

.press__info {
  width: 1310px;
  height: 426px;
  margin: 0 auto;
}

.press__info-1 {
  width: 1310px;
  height: 225px;
  position: relative;
  top: 47%;
  left: 0;
  background-image: url(../img/press-bg1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 10;
}

.press__info-2 {
  border: 1px solid var(--transparent);
  width: 763px;
  height: 346px;
  position: relative;
  top: -146px;
  left: 274px;
  background-image: url(../img/press-bg2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.press__allure {
  margin-top: 50px;
}

.press__link {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  color: var(--dark-green);
  position: relative;
  top: 80%;
  left: 27%;
}

.press_rectangle {
  width: 1310px;
  height: 32px;
  border: 1px solid var(--dark-green);
  margin: 0 auto;
}

.press__quote {
  width: 786px;
  height: 156px;
  margin: 0 auto;
}

.press__text {
  width: 689px;
  height: 58px;
  margin: 34px auto 10px;
  font-size: 26px;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
  color: var(--dark-green);
}

.press__author {
  width: 63px;
  height: 22px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: var(--dark-green);
  text-transform: uppercase;
}

.press__vawe {
  width: 786px;
  height: 154px;
  margin: 0 auto;
  position: relative;
  top: -33px;
  left: 0;
}

/* Footer */

.footer {
  width: 1440px;
  height: 594px;
  position: relative;
  top: -340px;
  left: 0;
  display: flex;
  align-items: center;
}

.footer__left {
  width: 352px;
  height: 466px;
  padding: 64px;
  background: var(--light-lilac);
}

.footer__list {
  width: 350px;
  height: 188px;
  padding: 0;
  margin: 0;
}

.footer__item {
  margin-bottom: 7px;
}

.footer__item:last-child {
  margin-bottom: 0;
}

.footer__link {
  font-size: 23px;
  font-weight: 400;
  line-height: 30px;
  color: var(--dark-green);
}

.footer__social {
  width: 350px;
  height: 47px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__img-social {
  width: 25px;
  height: 25px;
  margin: 0;
}

.footer__pay {
  width: 350px;
  height: 55px;
  display: flex;
  align-items: center;
  margin-bottom: 55px;
}

.footer__img-pay {
  width: 38px;
  height: 24px;
  margin: 0;
}

.footer__rights {
  display: inline-flex;
  gap: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: var(--dark-green);
}

.footer__rights p {
  margin: 0;
}

.footer__right {
  width: 960px;
  height: 594px;
  background: var(--dark-green);
}

.footer__subscribe {
  width: 896px;
  height: 216px;
  padding-top: 64px;
  padding-left: 64px;
}

.footer__title-top {
  width: 220px;
  height: 31px;
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
  color: var(--light-lilac);
}

.footer__info {
  width: 830px;
  height: 120px;
}

.footer__text-top {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: var(--white);
  margin-bottom: 15px;
}

.footer__form {
  width: 830px;
  height: 46px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 32px;
}

.footer__input {
  width: 300px;
  height: 41px;
  border: none;
  border-bottom: 2px solid var(--white);
  background: var(--transparent);
  flex-shrink: 0;
}

.footer__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: var(--white);
}

.footer__btn {
  flex-shrink: 0;
  max-width: 179px;
}

.footer__bg {
  width: 960px;
  height: 129px;
  background: url(../img/footer-right-bg.png) no-repeat center;
}

.footer__before {
  width: 832px;
  height: 91px;
  background: var(--light-pink);
  padding: 32px 64px 64px;
  display: flex;
  align-items: center;
  gap: 108px;
}

.footer__title-bottom {
  width: 169px;
  height: 31px;
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
  color: var(--dark-green);
  align-self: flex-start;
}

.footer__text-bottom {
  width: 554px;
  height: 90px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: var(--dark-green);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__text-bottom p {
  margin: 0;
}
